#content {
    width: 1205px;
    margin: 0 auto;
    margin-top: 40px;
}

.shelf_header {
    padding: 10px 10px;
    border: 1px solid black;
}
.shelf_header:hover {
    background-color: #ffffbb;
}

.shelf_name {
    font-size: 150%;
    font-weight: bold;
}

.shelf_list {
    width: 400px;
    float: left;
}

.delete_shelf {
    float:right;
}

.createShelfForm {
    margin-top: 10px;
}

.shelf_view {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    float: left;
}

.paper_view {
    border: 1px solid black;
}
.paper_view:hover {
    background-color: #ffffbb;
}
